### Importing libraries

In [51]:
import numpy as np
import pandas as pd

### DataFrames
Getting all sheets separatly

In [52]:
xls = pd.ExcelFile('May17.xlsx')
df1 = xls.parse(0)
df2 = xls.parse(1)
df3 = xls.parse(2)

In [53]:
df1.head

<bound method NDFrame.head of               Unnamed: 0                     kaber     Unnamed: 2  \
0                   DATE                       NaN             DR
1                    NaN               Description  Received cash
2    2017-05-01 00:00:00           opening balance            400
3    2017-05-01 00:00:00  cash withdrawl/Noor bank           4000
4    2017-05-01 00:00:00           cash chq#106139          60000
5    2017-05-01 00:00:00                       NaN            NaN
6    2017-05-01 00:00:00                       NaN            NaN
7    2017-05-01 00:00:00                       NaN            NaN
8    2017-05-01 00:00:00                       NaN            NaN
9    2017-05-02 00:00:00  cash withdrawl/Noor bank           9000
10   2017-05-02 00:00:00  cash withdrawl/Noor bank          10000
11   2017-05-02 00:00:00             ATM/Noor Bank           5000
12   2017-05-02 00:00:00                       NaN            NaN
13   2017-05-02 00:00:00                       NaN            NaN
14   2017-05-03 00:00:00  cash withdrawl/Noor bank           5000
15   2017-05-04 00:00:00          withdrawl 100145          16100
16   2017-05-04 00:00:00                       NaN            NaN
17   2017-05-06 00:00:00          withdrawl 100153          20000
18   2017-05-06 00:00:00                       NaN            NaN
19   2017-05-06 00:00:00                       NaN            NaN
20   2017-05-06 00:00:00          withdrawl 100154          16000
21   2017-05-07 00:00:00                       NaN            NaN
22   2017-05-07 00:00:00          withdrawl 100156           7500
23   2017-05-08 00:00:00          withdrawl 100117           9000
24   2017-05-09 00:00:00          withdrawl 100160          18500
25   2017-05-09 00:00:00             ATM/Noor Bank           5000
26   2017-05-09 00:00:00                       NaN            NaN
27   2017-05-09 00:00:00                       NaN            NaN
28   2017-05-09 00:00:00                       NaN            NaN
29   2017-05-11 00:00:00          withdrawl 100171          16000
..                   ...                       ...            ...
75   2017-05-31 00:00:00                       NaN            NaN
76                   NaN                       NaN            NaN
77   2017-06-03 00:00:00  cash withdrawl/Noor bank            500
78                   NaN  cash withdrawl/Noor bank          10000
79   2017-06-06 00:00:00  cash withdrawl/Noor bank           2000
80                   NaN                       NaN            NaN
81   2017-06-08 00:00:00  cash withdrawl/Noor bank          10000
82                   NaN                       NaN            NaN
83                   NaN                       NaN            NaN
84   2017-06-09 00:00:00  cash withdrawl/Noor bank           3500
85                   NaN                       NaN            NaN
86                   NaN                       NaN            NaN
87                   NaN                       NaN            NaN
88                   NaN                       NaN            NaN
89   2017-06-10 00:00:00  cash withdrawl/Noor bank           2500
90                   NaN                       NaN            NaN
91   2017-06-11 00:00:00  cash withdrawl/Noor bank          10200
92                   NaN                       NaN            NaN
93   2017-06-11 00:00:00  cash withdrawl/Noor bank           4000
94                   NaN                       NaN            NaN
95   2017-06-12 00:00:00            cash withdrawl           1500
96   2017-06-13 00:00:00            cash withdrawl           8500
97   2017-06-14 00:00:00            cash withdrawl          12500
98                   NaN                       NaN            NaN
99   2017-06-14 00:00:00            cash withdrawl           1800
100  2017-06-14 00:00:00                       NaN            NaN
101  2017-06-14 00:00:00          100098 withdrawl          31736
102  2017-06-15 00:00:00                       NaN            NaN
103  2017-06-15 00:00:00                       NaN            NaN
104  2017-06-15 00:00:00                       NaN            NaN

               PETTY CASH RECORD Unnamed: 4 Unnamed: 5  Unnamed: 6
0                            NaN         CR        NaN         NaN
1                    description  Paid cash    Balance         NaN
2                            NaN        NaN        400         NaN
3                     Paid Majid       3000       1400         NaN
4                      Paid Utam        644      63356         NaN
5                      Paid Utam      30000      30000         NaN
6                       Ply wood       1520      -1520         NaN
7      Al saray building/suplier      10000     -10000         NaN
8    shine sus co/sub contracter      30000     -30000         NaN
9                      Paid Utam      15480      -6480         NaN
10                  Deposit ADIB       9000      10000         NaN
11                   Labour camp       6000       9000         NaN
12                 sajjad salary       2000       3000         NaN
13                      car loan       1100      -1100         NaN
14                    Paid Majid       4500        500         NaN
15                  Deposit ADIB       5000      16100         NaN
16                     Paid Utam      14500       1600         NaN
17                    Paid JAWED       2000      18000         NaN
18                  Deposit ADIB      13400       6600         NaN
19          Hanif garage/pick up       2500      -2500         NaN
20                        Garage       1780      14220         NaN
21                     Paid Utam      14000       2000         NaN
22           Interglobal/suplier       2000       5500         NaN
23                  Deposit ADIB       7500       9000         NaN
24                  Deposit ADIB       9000      18500         NaN
25     Al saray building/suplier      10000      13500         NaN
26   shine sus co/sub contracter       1500       3500         NaN
27            Delta /gum machine       6200      -6200         NaN
28                  Deposit ADIB       3500      -3500         NaN
29                     Paid Utam       2300      13700         NaN
..                           ...        ...        ...         ...
75                     UTAM PAID        500       -500         NaN
76                           NaN        NaN          0         NaN
77                     UTAM PAID        500          0         NaN
78                     UTAM PAID      10000        500         NaN
79              BMW Expnce kabir       1000      11000         NaN
80                     UTAM PAID       1000       1000         NaN
81                     UTAM PAID        800       9200         NaN
82                  Deposit ADIB       9200        800         NaN
83                           NaN        NaN          0         NaN
84               rom rent/LABOUR       3000        500         NaN
85                Javed account         500       3000         NaN
86                Javed account         130       -130         NaN
87           Adjusted kabir acnt       3600      -3600         NaN
88                 javid account        500       -500         NaN
89               kabir personal        2000        500         NaN
90                     UTAM PAID        500       2000         NaN
91             labour wps salary      10180         20         NaN
92                     UTAM PAID         20      10180         NaN
93                   Labour rent       3000       1000         NaN
94                 javid account       1000       3000         NaN
95                     UTAM PAID       1500          0         NaN
96                     UTAM PAID       8500       1500         NaN
97                  unb for loan       7000      14000         NaN
98               office comision       5000       7500         NaN
99                 javid account        500       1300         NaN
100                    UTAM PAID       1800          0         NaN
101              rom rent/LABOUR       6000      25736         NaN
102                   WPS SALARY      14855      16881         NaN
103              KABEER PERSONAL       5000      -5000         NaN
104                 UTAM ACCOUNT       5881      -5881         NaN

[105 rows x 7 columns]>

Dropping unwanted rows/cols

In [54]:
df1.drop(df1.columns[[6]],inplace=True, axis=1)

In [55]:
df1 = df1[1:]

In [56]:
df1.iloc[0]

Unnamed: 0                     NaN
kaber                  Description
Unnamed: 2           Received cash
PETTY CASH RECORD      description
Unnamed: 4               Paid cash
Unnamed: 5                 Balance
Name: 1, dtype: object

In [57]:
df1.columns = df1.iloc[0]
df1 = df1[1:]

In [59]:
df1.columns[1] = ['date']
df1

TypeError: Index does not support mutable operations

In [68]:
df1.columns[0] = ['date']

TypeError: Index does not support mutable operations

'date'